node_modules
build
.svelte-kit
.git
.gitignore
.npmrc
.dockerignore
README.md
LICENSE
tests
vitest.config.*
*.test.ts
*.spec.ts
# These are NO LONGER ignored because they are needed for the build
# tsconfig.json
# svelte.config.js
# vite.config.ts
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.*
!.env.example
.vscode
.idea
.DS_Store
